* {
    font-family: 'Courier New', Courier, sans-serif;
    background-color: rgb(130, 130, 199);
    text-align: center;
}

h1 {
    font-size: 48px;   
}

h2 {
    color: white;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    color: rebeccapurple;
}

li {
    color: red;
}

h3 {
    text-align: left;
}